@import url('./Font.css');

#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  height: 100vh;
}

/* Twitter Post Container */
.main_container {
  position: relative;
  width: 100%;
  height: 100vh;
}

/* Background Image */
.bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.bg-image img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input {
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: end;
}
input:focus {outline: none;}