/* Creating Page Container */
.create_container {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 779px;
  height: 672px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  .draw_container {
    position: relative;
    width: 421px;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    .text {
      color: #FFF;
      text-align: center;
      font-family: Arial;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%; /* 28px */
      letter-spacing: -1.4px;
    }
  }
  .result_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .result_box {
      width: 322px;
      height: 331px;
      background-color: black;
    }
    .make_btn {
      color: #000;
      text-align: right;
      font-family: "Arial Black";
      font-size: 28px;
      font-style: normal;
      font-weight: 900;
      line-height: 100%; /* 28px */
      letter-spacing: -4.48px;
      text-transform: uppercase;
    }
    .make_btn:hover {
      color: red; /* Point color - 빨간색 */
      /* text-shadow: 0 0 10px rgba(255, 0, 0, 0.3); */
    }

    .make_btn.hovered {
      color: red;
    }

    .make_btn:hover {
      animation: none;
      color: red;
    }
  }
}
  
/* 
  @media (min-width: 1300px) {
    .create_container {
      width: 813px;
      aspect-ratio: calc(1033/798);
    }
  }

  @media (min-width: 1700px) {
    .create_container {
      width: 1033px;
      aspect-ratio: calc(1033/798);
    }
  } */