/* Twitter Post Container */
.main_container {
  position: relative;
  width: 100%;
  height: 100vh;
}

/* Background Image */
.bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.bg-image img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Blur Card */
.blur-card {
  position: relative;
  top: 50%;
  left: 50%;
  width: 714px;
  height: 385px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  backdrop-filter: blur(10px);
  transform: translate(-50%, -50%);
}


/* CREATE A CARD Button */
.create-card-btn {
  width: 200px;
  height: 34px;
  position: absolute;
  bottom: 14px;
  right: 14px;
  font-family: "Arial Black";
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%; /* 33.6px */
  letter-spacing: -4.48px;
  text-transform: uppercase;
  color: black;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease, text-shadow 0.3s ease;
  animation: blink 1s infinite;
  z-index: 2;

  display: flex;
  justify-content: center;
}

.create-card-btn:hover {
  color: #ffffff; /* Point color - 빨간색 */
  /* text-shadow: 0 0 10px rgba(255, 0, 0, 0.3); */
}

.create-card-btn.hovered {
  color: #ffffff;
}

.create-card-btn:hover {
  animation: none;
  color: #ffffff;
}