.main_container {
  background-color: black;
  display: flex;
  justify-content: space-between;
  .background_image_box {
    height: 100%;
    aspect-ratio: 263/395;
  }
}

.banner_main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%
}
.banner_container {
  width: 530px;
  height: 140px;
  background: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  .instruction {
    color: #000;
    font-family: Poolside;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 48px */
    letter-spacing: -1.44px;
    white-space: nowrap;
  }
  .input_container {
    display: flex;
    justify-content: space-between;
    input {
      width: 283px;
      height: 28px;
      border: none;
      padding: none;
      border-bottom: #000 1px solid;

      color: #000;
      font-family: "Arial Black";
      font-size: 28px;
      font-style: normal;
      font-weight: 900;
      line-height: 100%; /* 28px */
      letter-spacing: -4.48px;
      text-transform: uppercase;
    }
    .result_btn {
      color: #000;
      font-family: "Arial Black";
      font-size: 28px;
      font-style: normal;
      font-weight: 900;
      line-height: 100%; /* 28px */
      letter-spacing: -4.48px;
      text-transform: uppercase;
    }
    .result_btn:hover {
      color: red; /* Point color - 빨간색 */
      /* text-shadow: 0 0 10px rgba(255, 0, 0, 0.3); */
    }

    .result_btn.hovered {
      color: red;
    }

    .result_btn:hover {
      animation: none;
      color: red;
    }
  }
}
  