/* Rendering Page Container */
.rendering-page-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: black;
  .result_btn {
    color: #ff0;
    font-family: "Arial Black";
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; /* 33.6px */
    letter-spacing: -4.48px;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.3s ease, text-shadow 0.3s ease;
    animation: blink 1s infinite;
  }
  .result_btn:hover {
    color: #ffffff; /* Point color - 빨간색 */
    /* text-shadow: 0 0 10px rgba(255, 0, 0, 0.3); */
  }

  .result_btn.hovered {
    color: #ffffff;
  }

  .result_btn:hover {
    animation: none;
    color: #ffffff;
  }
}