.layout_container {
  position: relative;
  width: 658px;
  height: 626.39px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .NewYearCard {
    position: relative;
    top: 40px;
    left: 80px;
    width: 366.742px;
    height: 550.114px;
    transform: rotate(15deg);
    background: #D9D9D9;
  }
  .button_container {
    position: absolute;
    right: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 15px;
    .RetryButton, .CopyLinkButton, .ExportButton {
      width: fit-content;
      padding: 12px;
      background: #FFF;
      padding: 12px;
      color: #000;
      font-family: "Arial Black";
      font-size: 28px;
      font-style: normal;
      font-weight: 900;
      line-height: 100%; /* 28px */
      letter-spacing: -4.48px;
      text-transform: uppercase;
    }
  }
}