.layout_container {
  position: relative;
  width: 658px;
  height: 626.39px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .NewYearCard {
    position: relative;
    top: 40px;
    left: 80px;
    width: 366.742px;
    height: 519.114px;
    transform: rotate(15deg);
    background: #000000;
    overflow: hidden;
    .CardTextOverlay {
      position: absolute;
      top: 126px;
      left: 63px;
      pointer-events: none;
      z-index: 1;
      width: 236px;
      height: 244px;
    }
    .sender_name {
      position: absolute;
      bottom: 120px;
      left: 80px;
      z-index: 2;
      font-family: "TalkFile_tratatello";
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%; /* 18px */
      color: #de0000;
    }
  }
  .button_container {
    position: absolute;
    right: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 15px;
    .RetryButton, .CopyLinkButton, .ExportButton {
      width: fit-content;
      padding: 12px;
      background: #FFF;
      padding: 12px;
      color: #000;
      font-family: "Arial Black";
      font-size: 28px;
      font-style: normal;
      font-weight: 900;
      line-height: 100%; /* 28px */
      letter-spacing: -4.48px;
      text-transform: uppercase;
    }
  }
}